page-login {

  .form-signin {
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
    margin-top:30%;
    border: 3px solid #009d8b;
    border-left:none;
    border-right:none;
  }

  ion-item{
    padding-left: 0 !important;
  }

}
